// sizing and layout

.row.track-row {
  margin: 0;
  padding: 0;
  flex-wrap: nowrap;
}

.track-row {
    height: 10vh;
    width: 90%;
    align-items: center;
    justify-content: start;
}

.track-text{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 80%;
}

.track-text-col{    
    text-align: start;
    padding: 0;
    padding-left: 16px;
}

.track-img {
  height: 100%;
}

.track-img-col{
    height: 100%;
    max-width: 20%;
}

.col.track-img-col{
    flex-grow: 0;
}

#track-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 40vh;
  padding: 8px;
  width: auto;
}

#track-log {
  width: 60vw;
  min-width: 350px;
  max-width: 600px;
  padding: 8px;
  margin: auto;
}

// styling
#track-log {
  background-color: #232323e7;
  box-shadow: 2px 2px 8px black;
  border-radius: 8px;
}

#track-list .track:first-child {
  padding-top: 0;
}

#track-list .track-row {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  border-bottom: 2px solid #383838;
}

#track-list .track:last-child {
  padding-bottom: 0;
  border-bottom: 0;
}

#break{
    width: 100%;
	border-bottom: 2px solid #383838;
}

// scrollbar
#track-list {
  -ms-overflow-style: none;
  overflow: hidden;
  overflow-y: scroll;
}

#track-list::-webkit-scrollbar {
  width: 0px;
  display: none;
}
