#info-row {
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-evenly;
  padding: 0;
  margin: 0;
}

.info-col{
  display: flex;
  white-space:nowrap;
  width: fit-content;
  margin-inline: 8px;
}

a { 
  height:24px;
}

footer{
  background-color:#232323;
}