// Override default variables before the import
$body-bg: #1DB954;
$body-color: #fff;

$theme-colors: (
  "primary": #fff
);

$enable-responsive-font-sizes: true;

// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap';

// Import RFS seperately since Bootstrap doesn't use the version we want.
@import "~rfs/scss";

.cursor-pointer {
  cursor: pointer;
}

