body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'Gotham';
  src: url('./fonts/gotham/GothamMedium.ttf') format('truetype');
}

@font-face {
  font-family: 'Gotham';
  src: url('./fonts/gotham/GothamBold.ttf') format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: 'Gotham';
  src: url('./fonts/gotham/GothamLight.ttf') format('truetype');
  font-weight: light;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}